In [2]:
import warnings
warnings.simplefilter('ignore')

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import pandas as pd 
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score

from lightgbm import LGBMClassifier
from imblearn.under_sampling import RandomUnderSampler
from lightgbm import early_stopping

In [3]:
train = pd.read_csv('train_df.csv')
test = pd.read_csv('test_df.csv')

#check unique values later 
train['body_system_2'] = train['body_system_2'].replace('Undefined Diagnoses', 'Undefined diagnoses')
test['body_system_2'] = test['body_system_2'].replace('Undefined Diagnoses', 'Undefined diagnoses')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51359 entries, 0 to 51358
Data columns (total 85 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    51359 non-null  int64
 1   personal_id_1         51359 non-null  int64
 2   personal_id_2         51359 non-null  int64
 3   facility_id           51359 non-null  int64
 4   age                   48987 non-null  float64
 5   bmi                   49490 non-null  float64
 6   situation_1           51359 non-null  int64
 7   situation_2           50959 non-null  float64
 8   ethnicity             50550 non-null  object
 9   gender                51346 non-null  object
 10  height                50645 non-null  float64
 11  weight                49880 non-null  float64
 12  icu_id                51359 non-null  int64
 13  icu_1                 51299 non-null  object
 14  icu_2                 51359 non-null  object
 15  icu_3                 51359 non-null  object
 16  icu_4                 51359 non-null  float64
 17  icu_5                 50421 non-null  float64
 18  icu_6                 50723 non-null  float64
 19  icu_7                 51359 non-null  int64
 20  icu_8                 50959 non-null  float64
 21  glasgow_coma_scale_1  50273 non-null  float64
 22  glasgow_coma_scale_2  50273 non-null  float64
 23  glasgow_coma_scale_3  50778 non-null  float64
 24  glasgow_coma_scale_4  50273 non-null  float64
 25  heart_rate            50868 non-null  float64
 26  blood_oxy             50959 non-null  float64
 27  arterial_pressure     50793 non-null  float64
 28  respiratory_rate      50650 non-null  float64
 29  temp                  49046 non-null  float64
 30  blood_pressure_1      51272 non-null  float64
 31  blood_pressure_2      51272 non-null  float64
 32  blood_pressure_3      50776 non-null  float64
 33  blood_pressure_4      50776 non-null  float64
 34  v1_heartrate_max      51282 non-null  float64
 35  v2                    51282 non-null  float64
 36  v3                    51243 non-null  float64
 37  v4                    51243 non-null  float64
 38  v5                    50558 non-null  float64
 39  v6                    50558 non-null  float64
 40  v7                    51139 non-null  float64
 41  v8                    51139 non-null  float64
 42  v9                    51172 non-null  float64
 43  v10                   51172 non-null  float64
 44  v11                   51275 non-null  float64
 45  v12                   51275 non-null  float64
 46  v13                   50782 non-null  float64
 47  v14                   50782 non-null  float64
 48  v15                   50072 non-null  float64
 49  v16                   50072 non-null  float64
 50  w1                    49348 non-null  float64
 51  w2                    49348 non-null  float64
 52  w3                    47227 non-null  float64
 53  w4                    47227 non-null  float64
 54  w5                    49806 non-null  float64
 55  w6                    49806 non-null  float64
 56  w7                    48766 non-null  float64
 57  w8                    48766 non-null  float64
 58  w9                    46251 non-null  float64
 59  w10                   46251 non-null  float64
 60  w11                   48914 non-null  float64
 61  w12                   48914 non-null  float64
 62  w13                   49029 non-null  float64
 63  w14                   49029 non-null  float64
 64  w15                   49354 non-null  float64
 65  w16                   49354 non-null  float64
 66  w17                   47234 non-null  float64
 67  w18                   47234 non-null  float64
 68  x1                    48141 non-null  float64
 69  x2                    48141 non-null  float64
 70  x3                    45973 non-null  float64
 71  x4                    45973 non-null  float64
 72  x5                    46864 non-null  float64
 73  x6                    46864 non-null  float64
 74  aids                  50959 non-null  float64
 75  cirrhosis             50959 non-null  float64
 76  diabetes              50959 non-null  float64
 77  hepatic_issue         50959 non-null  float64
 78  immunosuppression     50959 non-null  float64
 79  leukemia              50959 non-null  float64
 80  lymphoma              50959 non-null  float64
 81  carcinoma             50959 non-null  float64
 82  body_system_1         50421 non-null  object
 83  body_system_2         50421 non-null  object
 84  target_label          51359 non-null  int64
dtypes: float64(70), int64(8), object(7)
memory usage: 33.3+ MB

In [12]:



train_na = (train.isnull().sum() / len(train)) * 100
# drop isnull = zero
train_na = train_na.drop(
    train_na[train_na == 0].index).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio': train_na})
missing_data.head(20)

      Missing Ratio
x4        10.486964
x3        10.486964
w9         9.945677
w10        9.945677
x6         8.752117
x5         8.752117
w4         8.045328
w3         8.045328
w17        8.031698
w18        8.031698
x1         6.265698
x2         6.265698
w7         5.048774
w8         5.048774
w11        4.760607
w12        4.760607
age        4.618470
w13        4.536693
w14        4.536693
temp       4.503592

In [13]:
test_na = (test.isnull().sum() / len(test)) * 100
# drop isnull = zero
test_na = test_na.drop(
    test_na[test_na == 0].index).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio': test_na})
missing_data.head(20)

              Missing Ratio
target_label     100.000000
x4                10.521807
x3                10.521807
w10                9.719626
w9                 9.719626
x6                 8.582555
x5                 8.582555
w3                 7.881620
w18                7.881620
w17                7.881620
w4                 7.881620
x2                 6.674455
x1                 6.674455
w8                 4.953271
w7                 4.953271
age                4.836449
w12                4.485981
w11                4.485981
w14                4.361371
w13                4.361371

In [ ]:
# Handle Missing data


train.fillna(train.mean(), inplace=True)
test.fillna(test.mean(), inplace=True)

In [8]:

numerical_feats = train.dtypes[train.dtypes != "object"].index
print("Numerical: ", len(numerical_feats))

categorical_feats = train.dtypes[train.dtypes == "object"].index
print("Categorical: ", len(categorical_feats))

Numerical:  78
Categorical:  7

In [14]:
from sklearn.preprocessing import LabelEncoder


def encode_label(df, i):
    print(i, df[i].nunique())
    df[i] = df[i].fillna("None")
    lbl = LabelEncoder()
    lbl.fit(list(df[i].values))
    df[i] = lbl.transform(list(df[i].values))
    return df


l = len(train)
df = pd.concat([train, test])
for col in categorical_feats:
    df = encode_label(df, col)
train = df[:l]
test = df[l:]

ethnicity 7
gender 3
icu_1 6
icu_2 3
icu_3 8
body_system_1 12
body_system_2 10